<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartPhone Advisor</title>
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">

</head>
<body class=" bg-gradient-to-r from-slate-950 from-10% bg- via-indigo-900 to-90% to-slate-950 ">
    <header class="flex justify-center"> 
        <nav class=" inline-flex p-4 shadow-sm text-white  text-center mt-2 mb-6 rounded-3xl">
    <h1 class="text-xl w-auto hover:scale-105 ">LLM Finder!</h1>
    <a class="text-xl ml-8  hover:scale-105" href="https://github.com/MikolajKarla/Orange-SmartPhone-Advisor.git">GitHub</a>
    <a class="text-xl ml-8  hover:scale-105" href="#arena.html">Arena LLM'ów</a>
    <a class="text-xl ml-8  hover:scale-105" href="https://github.com/MikolajKarla/Orange-SmartPhone-Advisor.git">Contact Us!</a>

</nav>
</header>
<main class="container mx-auto text-white px-5 text-center" >
    <form action="getCriteria" method="post" class="mb-8">
        <input type="text" name="question" id="question" class="w-7/12 text-lg p-4 bg-transparent rounded-2xl border" placeholder="Twoje pytanie">
        <input type="submit" class=" bg-transparent rounded-2xl border py-4  text-lg"  value="Wyślij!">
    </form> 
    <!-- Do tabelki trzeba dodać jakieś style żeby lepiej wyglądała i prompt poprawić -->
    <div class="table">
        {% if table %}
        <div>
            {{ table | safe }}
        </div>
    {% endif %}
    </div>
</main>

</body>
</html>