<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartPhone Advisor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <h1>SmartPhone Advisor</h1>
    <!-- strona główna -->
    <table class="border">
        <tr class="border">
            <td class="border"><strong>Zrozumienie Kontekstu:</strong></td>
            <td  class="border"><strong>Generowanie Tekstu:</strong></td>
            <td class="border"><strong> Wsparcie Językowe:</strong></td>
            <td  class="border"><strong>Bezpieczeństwo i Etyczność:</strong></td>
            <td class="border"><strong> Personalizacja:</strong></td>
            <td  class="border"><strong>Interaktywność:</strong></td>
            <td class="border"><strong> Uaktualnienia Wiedzy:</strong></td>
            <td  class="border"><strong>Skalowalność:</strong></td>
        </tr>
        <tr>
            <td class="border">Zdolność modelu do rozumienia złożonych zapytań i kontekstu konwersacji.</td>
            <td class="border">Jakość i spójność generowanego tekstu.</td>
            <td class="border">Liczba obsługiwanych języków i jakość tłumaczeń.</td>
            <td class="border">Mechanizmy zapobiegające generowaniu szkodliwych treści.</td>
            <td class="border">Możliwość dostosowania odpowiedzi do potrzeb użytkownika.</td>
            <td class="border">Szybkość i płynność interakcji z użytkownikiem.</td>
            <td class="border">Zdolność do aktualizacji wiedzy i informacji.</td>
            <td class="border">Łatwość integracji z innymi systemami i skalowanie.</td>
        </tr>
    </table>
</body>
</html>